* {
  box-sizing: border-box;
}

.App {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: #000;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.credits {
  position: fixed;
  width: 100%;
  bottom: 20px;
  text-align: center;
  transform: translateX(calc(50% - 100px));
}

.credits > a {
  display: block;
  width: 200px;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  text-decoration: none;
  color: #fff;
}

.refresh {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid #ccc;
  position: absolute;
  top: calc(50vh - 30px);
  right: 10px;
}

.choices {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choiceBtn {
  width: 110px;
  padding: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border: 1px solid transparent;
  font-size: 1.2em;
  text-transform: capitalize;
}

.choiceBtn:hover {
  border: 1px solid #fff;
  transition: all 500ms ease-in-out;
}